:root {
  --orange: hsl(31, 77%, 52%);
  --dkCyan: hsl(184, 100%, 22%);
  --vyDarkCyan: hsl(179, 100%, 13%);
  --transWhite: hsla(0, 0%, 100%, 0.75);
  --vyLightGray: hsl(0, 0%, 95%);
}
html {
  font-size: 15px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1040px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--vyLightGray);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
}
.container {
  display: block;
  position: relative;
  margin: 2.4rem;
}
.card {
  position: relative;
  display: block;
  padding: 2rem;
}

.container img {
  width: 2.8rem;
  padding-bottom: 1rem;
}
.container h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--vyLightGray);
  text-transform: uppercase;
  font-size: 2.3rem;
  padding-bottom: 1rem;
  font-weight: 700;
}
.container p {
  color: var(--transWhite);
  line-height: 1.7;
  font-size: 0.866rem;
  font-weight: 400;
  padding-bottom: 2rem;
}
.container button {
  width: 6.5rem;
  border-radius: 25px;
  padding: 10px 22px;
  border: var(--vyLightGray);
  cursor: pointer;
  font-size: 0.6rem;
  border: 2px solid var(--vyLightGray);
}
.container button:hover,
.container button:active {
  color: white;
  background-color: transparent;
}
.sedans {
  background-color: var(--orange);

  border-radius: 8px 8px 0 0;
}
.btn-sedans {
  color: var(--orange);
}

.suvs {
  background-color: var(--dkCyan);
}
btn-suvs {
  color: var(--dkCyan);
}
.luxury {
  background-color: var(--vyDarkCyan);

  border-radius: 0 0 8px 8px;
}
.btn-luxury {
  color: var(--vyDarkCyan);
}

@media screen and (min-width: 875px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
    margin: 170px auto;
    overflow: hidden;
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    height: 100%;
    min-height: 500px;
    position: relative;
    padding: 42px;
    flex: 1;
  }
  .card {
    padding: 2.2rem 3rem;
  }
  .sedans {
    border-radius: 8px 0 0 8px;
  }
  .luxury {
    border-radius: 0 8px 8px 0;
  }
  .container img {
    width: 4.8rem;
    margin-bottom: 1rem;
  }

  .container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .container p {
    font-size: 1.1rem;
    padding-bottom: 9rem;
  }
  .container button {
    position: absolute;
    bottom: 20px;
    min-width: 9rem;
    padding: 15px;
    font-size: 0.975rem;
    margin-bottom: 2rem;
  }
}
